
.slick-slider {
  height: 400px;
}


.slick-arrow {
  /* border: 1px solid red;*/
}


.carouselNextButton {

}

.slick-next,
.slick-prev {
  color: white;
  z-index: 100;
}

.slick-next {
  right: 50px;
}

.slick-prev {
  left: 60px;

}


.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: #98d648;
}


@media (max-width: 600px) {
  .slick-slider {
    width: 500px;
  }
}

@media (max-width: 510px) {
  .slick-slider {
    width: 400px;
  }
}
