
.container {
}

.slick-slider {
  border: 1px solid red;
}


.slick-arrow {
  /* border: 1px solid red;*/
}


.carouselNextButton {

}

.slick-next,
.slick-prev {
  color: white;
  z-index: 100;
}

.slick-next {
  right: 50px;
}

.slick-prev {
  left: 60px;

}


.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: #98d648;
}

.slick-track {
  min-width: 200px;
}