@import "./mixinForLists.scss";


@media (max-width: 760px) {
  .headerTop {
    display: none;
  }
}

@media (min-width: 761px) {
  .headerTop {
    background: #98d648;
    padding: 5px 0 5px 0;
    min-height: 90px;
  }
}

