



@mixin reset-list {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    li {
      display: flex;
      justify-content: center;
      height: 30px;
      padding: 0 5px 0 5px;
      align-items: center;
      list-style-type: none;

      a {
        text-decoration: none;
        text-align: center;
        font-family: "Calibri", "Arial", sans-serif;
        font-size: 15px;
        color: black;
      }
    }
    li:hover,
    li:focus {
      display: flex;
      justify-content: space-between;
      height: 30px;
      padding: 0 5px 0 5px;
      align-items: center;
      list-style-type: none;
      background:#98d648;
    }
  }
}


.Header {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 150px;


  .HeaderTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #98d648;
    height: 30px;
    @include reset-list
  }

  .HeaderMenu {

    @include reset-list
  }


  .CategoriesMenu {
    background: #f3f0eb;

    @include reset-list
  }

}
